// Import tools

@import 'tools/_reset.scss';
@import 'tools/_variables.scss';


body
{
    background-color: $bg-color;
    font-family: Menlo;
    color: $text-dark;
    font-size: 12px;
}
.container
{
    width: 100vw;
    height: 100vh;

}
h1
{
    font-size: 18px;
}
h2
{
    font-size: 14px;
}

h1, h2
{
    font-weight: bold;
    padding: 0.5em 0;
}
select, input:not([type="file"])
{
    border-bottom-style: inset;
    border-bottom-width: thin;
    height: 20px;
}

input[type=submit]
{
    padding: 5px 15px;
    background-color: $main-color;
    color : $text-light;
    height: initial;
    border : thin solid $main-color;
}
input[type=submit]:hover
{
    background-color: inherit;
    color : $main-color;
    cursor: pointer;
}
input:focus, select:focus
{
    border-color: $main-color;
}
.clearboth
{
    clear: both;
}


// Import components
@import 'components/_sidebar.scss';
@import 'components/_login.scss';
@import 'components/_dashboard.scss';
