// Import tools

@import 'tools/_reset.scss';
@import 'tools/_variables.scss';

// Import components
@import 'components/_login.scss';
@import 'components/_dashboard.scss';
@import 'components/_inventory.scss';
@import 'components/_disques.scss';

body
{
    background-color: $bg-color;
    font-family: monospace;
    color: $text-dark;
}

h1
{
    font-size: 18px;
}
h2
{
    font-size: 14px;
}

h1, h2
{
    font-weight: bold;
    padding: 1.2em;
}

input[type=submit]
{
    background-color: $main-color;
    color : $text-light;
    height: initial;
    border : thin solid $main-color;
}
input[type=submit]:hover
{
    background-color: inherit;
    color : $main-color;
    cursor: pointer;
}
input[type=text]:focus, input[type=password]:focus
{
    border-color: $main-color;
}
