.container
{
    &.column
    {
        display: flex;
        flex-direction: row;

        .container-dashboard
        {
            background-color: $bg-color;
            width: calc(100vw - 120px);
            margin-left: 120px;

            .dashboard-intro
            {
                display: inline-flex;
                align-items: baseline;
                margin: 3rem;
                position: relative;

                h1
                {
                    padding-right: 1rem;
                }

                .border
                {
                    position: absolute;
                    border-bottom: thin solid $text-dark;
                    height: 1px;
                    width: 105%;
                    bottom: 0;
                    left: 0;
                }
            }
            .dashboard-products
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 2rem;

                .product
                {
                    background-color: $second-color;
                    padding: 1rem;
                    margin: 1rem;

                    .product-info
                    {
                        .container-edit
                        {
                            padding: 1rem 0;

                            div
                            {
                                padding: 0.4rem 0;
                            }
                            #description
                            {
                                resize: none;
                                width: 100%;
                                height: 7rem;
                                padding: 1rem;
                                line-height: 1.3em;
                            }
                            .button-info
                            {
                                text-align: right;

                                input
                                {
                                    background: none;
                                    border: none;
                                    color: $main-color;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .dashboard-form
            {
                display: block;
                position: fixed;
                top: 100%;
                left: 0;
                background-color: $text-light;
                box-shadow: 0px -4px 15px -5px rgba(117,117,117,0.54);
                transition: 0.4s transform ease-in-out;
                transform-origin: bottom;
                width: 100%;

                &.animation-show { transform: translateY(-100%); }
                &.animation-hide { transform: translateY(100%); }

                .form-exit
                {
                    text-align: right;

                    i
                    {
                        color: $main-color;
                        font-size: 14px;
                        cursor: pointer;
                        padding: 0.8rem 1rem;
                    }
                }

                .container-edit
                {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0 1rem;

                    div
                    {
                        padding: 0.8rem 1rem;

                        input[id="name"]
                        {
                            width: 20em;
                        }
                        input[id="description"]
                        {
                            width: 30rem;
                        }
                        input[id="price"], input[id="stock"]
                        {
                            width: 3rem;
                        }
                    }

                }
            }

            .button-add-product
            {
                width: 14em;
                height: 3em;
                background-color: $main-color;
                position: fixed;
                right: 0;
                top: 75vh;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: skew(-20deg, 0deg);
                margin-right: -10px;
                transition: transform 0.2s ease-in-out;
                cursor: pointer;

                &:hover
                {
                    transform: skew(0deg, 0deg);
                    margin-right: -10px;
                }
                p { color: $text-light; }
            }
        }
    }
}
