.inventory
{
    overflow: auto;
    flex-grow: 1;

    .container-products
    {
        width : 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .confirm-box
        {
            display: none;
            background-color: $text-light;
            width: 35%;
            position: absolute;

            top: calc(50% - 35%/2);
            left: calc(50% - 35%/2);
            padding: 1em;
            box-shadow: 0px 0px 71px -13px rgba(66,66,66,1);

            p { text-align: center; padding: 1em}

            .button-box
            {
                text-align: center;
                display: flex;
                justify-content: space-around;

                .button
                {
                    padding: 5px;
                    width: 30%;
                    cursor: pointer;
                    background-color: $main-color;
                    color: #fff;
                    border: 1px solid $main-color;
                    margin: 1em;

                    &:hover
                    {
                        background-color: transparent;
                        color: $main-color;
                    }
                }
            }
        }
        .product
        {
            width : 22em;
            display: flex;
            flex-direction: column;
            margin: 1em;

            .product-image
            {
                width: 22em;
                height: 22em;
                display: flex;
                align-items: center;
                flex-grow: 1;
                background-color: $text-light;
                position: relative;

                img
                {
                    width: 100%;
                }

                .product-edit
                {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    margin: 10px;

                    .icon-button
                    {
                        width: 3em;
                        height: 3em;
                        border-radius: 3em;
                        background-color: transparent;
                        border : thin solid $main-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0px 0px 10px 10px;
                        cursor: pointer;

                        &:hover
                        {
                            background-color: $main-color;
                            border : thin solid $main-color;
                            i { color: $text-light; }
                        }
                        i
                        {
                            font-size: 15px;
                            color: $main-color;
                        }
                    }
                }
            }
            .product-info
            {
                background-color: $text-light;
                width: 100%;
                flex-grow: 1;
                z-index: 0;
                transition: 0.4s transform ease-in-out;
                padding: 1em;

                .container-edit
                {
                    display: flex;
                    flex-wrap: wrap;

                    div
                    {
                        padding: 1em 0;
                        width: 100%;
                    }
                    input, select
                    {
                        border-bottom-style: inset;
                        border-bottom-width: thin;
                        height: 22px;
                        width: 100%;
                    }
                    #description
                    {
                        resize: none;
                        width: 100%;
                        height: 4em;
                    }
                    input:focus, select:focus
                    {
                        background-color: $main-color;
                        border-color: $main-color;

                    }

                    .middle2
                    {
                        width: 50%;
                        display: inline-block;
                        margin-right: 10%
                    }
                    .middle1
                    {
                        width: 40%;
                        display: inline-block;
                    }
                    .button-info
                    {
                        display: flex;
                        justify-content: space-between;

                        input[type=submit], a
                        {
                            width: 49%;
                            padding: 5px 15px;
                            background-color: $main-color;
                            color : $text-light;
                            height: initial;
                            border : thin solid $main-color;
                            text-align: center;
                        }
                        input[type=submit]:hover, a:hover
                        {
                            background-color: inherit;
                            color : $main-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .inventory-form
    {
        display: block;
        position: fixed;
        top: 100%;
        left: 0;
        background-color: $text-light;
        box-shadow: 0px -4px 15px -5px rgba(117,117,117,0.54);
        transition: 0.4s transform ease-in-out;
        transform-origin: bottom;

        &.animation-show { transform: translateY(-100%); }
        &.animation-hide { transform: translateY(100%); }

        .form-exit
        {
            text-align: right;
            padding: 1em 2em;
            color: $main-color;
            cursor: pointer;
            font-size: 14px;
        }

        .container-edit
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 1em 1em 1em;

            div
            {
                display: inline-block;
                padding: 5px 10px;
            }

            input, select
            {
                border-bottom-style: inset;
                border-bottom-width: thin;
                height: 20px;
            }

            input:focus, select:focus { border-color: $main-color; }
            input[type=text] { width: 20em; }
            input[type=number] { width: 4em; }
            input[name="description"], input[type="file"] { width: 30em; }

            input[type=submit]
            {
                padding: 5px 15px;
                background-color: $main-color;
                color : $text-light;
                height: initial;
                border : thin solid $main-color;
            }
            input[type=submit]:hover
            {
                background-color: inherit;
                color : $main-color;
                cursor: pointer;
            }
        }
    }

    .button-add-product
    {
        width: 14em;
        height: 3em;
        background-color: $main-color;
        position: fixed;
        right: 0;
        top: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skew(-20deg, 0deg);
        margin-right: -10px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover
        {
            transform: skew(0deg, 0deg);
            margin-right: -10px;
        }
        p { color: $text-light; }
    }
}
